@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body{
    font-family: "Oswald", sans-serif;
}

.googleTranslate{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;
}

.cursor {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    mix-blend-mode: difference;
    --cursor-size: 26px; /* Default */
}

.circle {
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    transition: width 0.3s ease, height 0.3s ease;
}

/* Automatically resize circles when .active is added to parent */
.cursor.active .circle {
    width: var(--cursor-size);
    height: var(--cursor-size);
}